<!DOCTYPE html>
<html>
<head>
    <%-include('../../header') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>
<style>
    .table-title-label{
        width: 150px;
    }
    .table-title-label:hover{
        color:black;
        cursor:auto;
    }
    .chart-card{
        min-height: 264px;
        max-height: 300px;
    }
    thead>tr>th:first-child{
        width: 100px;
    }
    .chartDiv_left{
        width:150px;
        margin-left:25px;
        margin-right:25px;
    }
    .chartDiv_left>p{
        /*border:3px solid;*/
        /*border-radius: 30px;*/
    }
    .color_icon{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        margin:0;
    }
    .color1{
        background-color: rgb(255, 99, 132);
    }
    .color2{
        background-color: rgb(54, 162, 235);
    }
</style>
<body>

<%if(data.error){%><pre style="width: 400px;white-space: pre-wrap;"><%-data.error%></pre><%}%>
<%

const quotaGenderData = data.quotaGenderData
const quotaAgeData = {
    label : ["20's","30's","40's","50's and \n over"],
    age : data.quotaAgeData.age,
    successData : data.quotaAgeData.successData
}

const qDataQ1_1 = data.qDataQ1_1;
const qDataQ1_2 = data.qDataQ1_2;
const qDataQ2 = data.qDataQ2;
const qDataQ3 = data.qDataQ3;

%>


<% const test = 'a' %>
<% for(let i=0; i<=0; i++){%>
<div class=".container display-flex justify-center mt-3" style="min-width: 1750px;">
    <div class="card text-center p-5 w-25" style="min-width: 600px;" >
        <div class="display-flex" style="justify-content: space-between">
            <h3 class="pt-4">
                <a style="color:gray" href="/static/634/i-dash-board">ICN</a>
            </h3>
            <h1 class="card-title">
                BUSAN
            </h1>
            <h3 class="pt-4">
                <a style="color:gray" href="/static/634/b-dash-board">JPN</a>
            </h3>
        </div>
        <hr>
        <h3>QUOTA</h3>
        <div class="card-body">
            <h5 class="card-title">BUSAN GENDER</h5>
        </div>

        <table class="table table-striped pure-table-bordered">
            <thead style="border-bottom:3px solid">
            <tr>
                <th scope="col" ></th>
                <th scope="col">
                    <label class="table-title-label">
                        MALE
                    </label>
                </th>
                <th scope="col">
                    <label class="table-title-label" >
                        FEMALE
                    </label>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">TOTAL</th>
                <td>
                    <%= quotaGenderData.male %>
                </td>
                <td>
                    <%= quotaGenderData.female %>
                </td>
            </tr>

            </tbody>
        </table>

        <hr>

        <div class="card-body">

            <h5 class="card-title">BUSAN QUOTA</h5>
        </div>


        <table class="table table-striped pure-table-bordered">
            <thead style="border-bottom:3px solid">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        <label class="table-title-label">
                            QUOTA
                        </label>
                    </th>
                    <th scope="col">
                        <label class="table-title-label" >
                            Success(N)%
                        </label>
                    </th>
                </tr>
            </thead>
            <tbody>
            <% for(let i=0; i<=quotaAgeData.label.length-1; i++){ %>
                <tr>
                    <th scope="row">
                        <%= quotaAgeData.label[i] %>
                    </th>
                    <td>
                        <%= quotaAgeData.age[i] %>
                    </td>
                    <td>
                        <%= quotaAgeData.successData[i] %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

    <div class="display-flex flex-column  w-50" style="justify-content: space-between; min-width: 1000px;">

        <div class="card display-flex text-center chart-card"  style="flex-direction:row">
            <div class="chartDiv_left pt-3" >
                <p class="h3 mt-3">
                    Q1-1
                    <label class="color_icon color1"></label>
                </p>
                <p class="h3 mt-3">
                    Q1-2
                    <label class="color_icon color2"></label>
                </p>
            </div>
            <div class="p-3">
                <canvas id="myChart1" width="700" height="260"></canvas>
            </div>
        </div>

        <div class="card display-flex text-center chart-card"  style="flex-direction:row">
            <div class="chartDiv_left  pt-3" >
                <p class="h3 mt-3">
                    Q2
                    <label class="color_icon color1"></label>
                </p>
            </div>
            <div class="p-3">
                <canvas id="myChart2" width="700" height="260"></canvas>
            </div>
        </div>

        <div class="card display-flex text-center chart-card"  style="flex-direction:row">
            <div class="chartDiv_left  pt-3" >
                <p class="h3 mt-3">
                    Q3
                    <label class="color_icon color1"></label>
                </p>
            </div>
            <div class="p-3">
                <canvas id="myChart3" width="700" height="260"></canvas>
            </div>
        </div>

    </div>


</div>
<% } %>

</body>
<script>

    // function getData(str){
       // str 매개채로 해당하는 값 리턴해줄것

    // }



    const projectId = '<%=data.projectId%>';
    <!--const list = JSON.parse('<%-JSON.stringify(data.list)%>');-->
    const surveyTitle = '<%=data.surveyTitle%>';
    <!--const endDate = '<%=data.endDate%>';-->
    $(function(){
        const q1_1_data = [<%= qDataQ1_1 %>]
        const q1_2_data = [<%= qDataQ1_2 %>]
        const q2_data = [<%= qDataQ2 %>]
        const q3_data = [<%= qDataQ3 %>]

        const ctx1 = document.getElementById('myChart1').getContext('2d');
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        const ctx3 = document.getElementById('myChart3').getContext('2d');

        const Q1_DATA = {
            labels: ['unHappy', '', '', 'Not Bad', '', '','Happy'],
            datasets : [
                {
                    label: 'Q1-1',
                    data : q1_1_data,
                    borderColor:['rgba(255, 99, 132, 0.2)'],
                    backgroundColor:['rgba(255, 99, 132, 0.2)'],
                },
                {
                    label: 'Q1-2',
                    data : q1_2_data,
                    borderColor:['rgba(54, 162, 235, 0.2)'],
                    backgroundColor:['rgba(54, 162, 235, 0.2)'],
                },
            ]
        }

        const Q2_DATA = {
            labels: ['Q2-1 ', 'Q2-2', 'Q2-3', 'Q2-4', 'Q2-5', 'Q2-6','Q2-7','Q2-8'],
            datasets : [
                {
                    label: 'Q1-1',
                    data : q2_data,
                    borderColor:['rgba(255, 99, 132, 0.2)'],
                    backgroundColor:['rgba(255, 99, 132, 0.2)'],
                }
            ]
        }

        const Q3_DATA = {
            labels: ['Q3-1 ', 'Q3-2', 'Q3-3', 'Q3-4', 'Q3-5', 'Q3-6','Q3-7','Q3-8',"Q3-9","Q3-10","Q3-11"],
            datasets : [
                {
                    label: 'Q1-1',
                    data : q3_data,
                    borderColor:['rgba(255, 99, 132, 0.2)'],
                    backgroundColor:['rgba(255, 99, 132, 0.2)'],
                }
            ]
        }



        function drawChart(ctx,data){
            const option = {
                type: 'bar',
                data: data,
                options: {
                    responsive:false,
                    plugins: {
                        legend: false,
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        },
                        x: {
                            type: 'category',
                        }
                    },



                },
            }
            const myChart = new Chart(ctx,option)
        }

        drawChart(ctx1,Q1_DATA);
        drawChart(ctx2,Q2_DATA);
        drawChart(ctx3,Q3_DATA);





    });

</script>
</html>
