<!DOCTYPE html>
<html>
<head>
    <%-include('../../header') %>
    <link rel="stylesheet" href="/include/css/login.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        #title{
            border-bottom: 2px solid gray;
            width: 150px;
            margin-left: 50px;
            margin-bottom: 50px;
        }

        #container {
            width: 95%;
            min-width: 1860px;
            height: 900px;
            border: 1px solid gray;
            border-radius: 20px;
            box-shadow: 10px 5px 5px gray;
            margin: auto;
            margin-top: 20px;
            background: #ffffff;
            display: flex;
            align-items: center;
        }


        .wrapper table {
            width: 400px;
            margin: auto;
        }

        #table1{
            margin-top: 50px;
        }

        #title1{
            border-bottom: 1px solid #bebaba;
            width: 50%;
            margin-top: 30px;
        }

        #data_wrap table th {
            text-align: center;
        }

        .table-wrapper {
            width: 650px;
            padding: 10px;
            height: 300px;
            border: 2px solid gray;
            border-radius: 15px;
            box-shadow: 10px 5px 5px gray;
            margin-bottom: 50px;
            margin-left: 50px;
        }

        #section_container{
            display: flex;
            flex-direction: column
        }

        .chart_wrapper{
            width: 900px;
            height: 300px;
        }

        #Q1, #Q2, #Q3 {
            margin-left: 250px;
            margin-top: 10px;
            width: 600px;
            border: 2px solid gray;
            border-radius: 15px;
            box-shadow: 10px 5px 5px gray;
        }

        #nav{
            color: #ffffff;
            border-right: 1px solid gray;
            border-radius: 20px 0 0 20px;
            background: #0e0e59;
            width: 200px;
            height: 900px;
        }

        #nav_title{
            text-align: left;
            margin-top: 30px;
            padding-left: 10px;
            border-bottom: 2px solid #ffffff;
        }

    </style>
</head>

<body>
<%if(data.error){%><pre style="width: 400px;white-space: pre-wrap;"><%-data.error%></pre><%}%>


<!-- 전체 -->
<div id="container">

    <nav id="nav">
        <div id="nav_title">
            <h3>DashBoard</h3>
        </div>
    </nav>

    <!--  TABLE  -->
    <section id="data_section">
        <div id="title">
            <h2>Busan</h2>
        </div>
        <div id="data_wrap" class="table-wrapper">
            <h3 id="title1">Male to Female Ratio</h3>
            <table class="table table-bordered" id="table1">
                <thead >
                    <tr >
                        <th scope="col"></th>
                        <th scope="col">Male</th>
                        <th scope="col">Female</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Busan</th>
                        <td><%=data.gender[0]%></td>
                        <td><%=data.gender[1]%></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-wrapper">
            <table class="table table-bordered caption-top" id="table2">
                <thead >
                <tr >
                    <th scope="col"></th>
                    <th scope="col">Quota</th>
                    <th scope="col">Success(N)%</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">20's</th>
                    <td><%=data.age[0]%></td>
                    <td><%=data.total.result1%></td>
                </tr>
                <tr>
                    <th scope="row">30's</th>
                    <td><%=data.age[1]%></td>
                    <td><%=data.total.result2%></td>
                </tr>
                <tr>
                    <th scope="row">40's</th>
                    <td><%=data.age[2]%></td>
                    <td><%=data.total.result3%></td>
                </tr>
                <tr>
                    <th scope="row">50's and over</th>
                    <td><%=data.age[3]%></td>
                    <td><%=data.total.result4%></td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>
    <!--  Chart.JS  -->
    <div id="section_container">
        <section class="chart_wrapper">
            <div id="Q1">
                <canvas id="myChart1" width="550" height="250" ></canvas>
            </div>
        </section>

        <section class="chart_wrapper">
            <div id="Q2">
                <canvas id="myChart2" width="550" height="250"></canvas>
            </div>
        </section>

        <section class="chart_wrapper">
            <div id="Q3">
                <canvas id="myChart3" width="550" height="250"></canvas>
            </div>
        </section>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>

<script>

    //------ Label  ------
    const Q1_labels = [
        'Extremely unhappy',
        '',
        '',
        'Neutral',
        '',
        '',
        'Extremely happy',
    ];

    const Q2_labels = [
        'Q2-1',
        'Q2-2',
        'Q2-3',
        'Q2-4',
        'Q2-5',
        'Q2-6',
        'Q2-7',
        'Q2-8',
    ];

    const Q3_labels = [
        'Q3-1',
        'Q3-2',
        'Q3-3',
        'Q3-4',
        'Q3-5',
        'Q3-6',
        'Q3-7',
        'Q3-8',
        'Q3-9',
        'Q3-10',
        'Q3-11',
    ];

    //--------  DATA    --------
    let q1_1 = [<%=data.q1%>];
    const q1_2 = [<%=data.q2%>];

    const Q1_data = {
        labels: Q1_labels,
        datasets: [
            {
                barThickness: 25,
                label: 'Q1-1',
                backgroundColor: 'rgb(126,101,171)',
                borderColor: 'rgb(126,101,171)',
                data: q1_1,
            },
            {
                barThickness: 25,
                label: 'Q1-2',
                backgroundColor: 'rgb(57,190,179)',
                borderColor: 'rgb(57,190,179)',
                data: q1_2,
            },
        ],
        options: {
            responsive: false,
        },
    };

    const Q2_data = {
        labels: Q2_labels,
        datasets: [{
            barThickness: 20,
            label: 'Q2',
            backgroundColor: 'rgb(126,101,171)',
            borderColor: 'rgb(126,101,171)',
            data: [3.45, 6.24, 4.35, 2.84, 8.20, 6.84, 5.32,4.93],
        }],
        options: {
            responsive: false,
        },
    };

    const Q3_data = {
        labels: Q3_labels,
        datasets: [{
            barThickness: 20,
            label: 'Q3',
            backgroundColor: 'rgb(126,101,171)',
            borderColor: 'rgb(126,101,171)',
            data: [3.45, 6.24, 4.35, 2.84, 8.20, 6.84, 5.32,4.93,2.44,4.32,5.43],
        }],
        options: {
            responsive: false,
        }
    };

    //------    Config  --------
    const Q1_config = {
        type: 'bar',
        data: Q1_data,
        options: {}
    };

    const Q2_config = {
        type: 'bar',
        data: Q2_data,
        options: {}
    };

    const Q3_config = {
        type: 'bar',
        data: Q3_data,
        options: {}
    };

    const Q1_myChart = new Chart(
        document.getElementById('myChart1'),
        Q1_config
    );

    const Q2_myChart = new Chart(
        document.getElementById('myChart2'),
        Q2_config
    );

    const Q3_myChart = new Chart(
        document.getElementById('myChart3'),
        Q3_config
    );

</script>

</html>
