<!DOCTYPE html>
<html>
<head>
    <%-include('../../header') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        #container {
            width: 95%;
            height: 900px;
            border: 1px solid gray;
            border-radius: 20px;
            box-shadow: 10px 5px 5px gray;
            margin: auto;
            margin-top: 20px;
            background: #ffffff;
            display: flex;
            align-items: center;
        }

        #data_wrap{
            width: 600px;
            border: 2px solid gray;
            border-radius: 15px;
            box-shadow: 10px 5px 5px gray;
        }

        #data_wrap table {
            width: 500px;
            margin: auto;
        }

        #data_wrap table th {
            text-align: center;
        }

        #section_container{
            display: flex;
            flex-direction: column
        }

        .chart_wrapper{
            width: 900px;
            height: 300px;
        }

        #Q1, #Q2, #Q3 {
            margin-left: 250px;
            margin-top: 10px;
            width: 600px;
            border: 2px solid gray;
            border-radius: 15px;
            box-shadow: 10px 5px 5px gray;
        }

        #nav{
            color: #ffffff;
            border-right: 1px solid gray;
            border-radius: 20px 0 0 20px;
            background: #0e0e59;
            width: 200px;
            height: 900px;
        }

        #nav_title{
            text-align: left;
            margin-top: 30px;
            padding-left: 10px;
            border-bottom: 2px solid #ffffff;
        }

    </style>
</head>

<body>
<%if(data.error){%><pre style="width: 400px;white-space: pre-wrap;"><%-data.error%></pre><%}%>
<%
    var quotaData = {
        label: ["20's","30's","40's","50's and \n over"],
        maleData: data.quotaData.male,
        femaleData: data.quotaData.female,
        maleSuccessData: data.quotaData.maleSuccessData,
        femaleSuccessData: data.quotaData.femaleSuccessData
    }

    var qDataQ1_1 = data.qDataQ1_1;
    var qDataQ1_2 = data.qDataQ1_2;
    var qDataQ2 = data.qDataQ2;
    var qDataQ3 = data.qDataQ3;
%>
<!-- 전체 -->
<%for(var i = 0; i <= 0; i++) {%>
<div id="container">
    <nav id="nav">
        <div id="nav_title">
            <h3>DashBoard</h3>
        </div>
    </nav>
    <!--  TABLE  -->
    <section id="data_section">
        <div id="data_wrap">
            <table class="table table-bordered caption-top">
                <caption>Hiroshima</caption>
                <thead >
                    <tr >
                        <th scope="col" rowspan="2"></th>
                        <th scope="col" colspan="2">Male</th>
                        <th scope="col" colspan="2">Female</th>
                    </tr>
                    <tr>
                        <th scope="col">Quota</th>
                        <th scope="col">N(%)</th>
                        <th scope="col">Quota</th>
                        <th scope="col">N(%)</th>
                    </tr>
                </thead>
                <tbody>
                <% for(var i=0; i<=quotaData.label.length-1; i++){ %>
                    <tr>
                        <th scope="row">
                            <%= quotaData.label[i] %>
                        </th>
                        <td>
                            <%= quotaData.maleData[i] %>
                        </td>
                        <td>
                            <%= quotaData.maleSuccessData[i] %>
                        </td>
                        <td>
                            <%= quotaData.femaleData[i] %>
                        </td>
                        <td>
                            <%= quotaData.femaleSuccessData[i] %>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>

    </section>
    <!--  Chart.JS  -->
    <div id="section_container">
        <section class="chart_wrapper">
            <div id="Q1">
                <canvas id="myChart1" width="550" height="250" ></canvas>
            </div>
        </section>

        <section class="chart_wrapper">
            <div id="Q2">
                <canvas id="myChart2" width="550" height="250"></canvas>
            </div>
        </section>

        <section class="chart_wrapper">
            <div id="Q3">
                <canvas id="myChart3" width="550" height="250"></canvas>
            </div>
        </section>
    </div>
</div>
<% } %>
</body>

<script>
    $(function() {
        var q1_1_data = [<%= qDataQ1_1 %>]
        var q1_2_data = [<%= qDataQ1_2 %>]
        var q2_data = [<%= qDataQ2 %>]
        var q3_data = [<%= qDataQ3 %>]

        var ctx1 = document.getElementById('myChart1').getContext('2d');
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var ctx3 = document.getElementById('myChart3').getContext('2d');

        // ---------- Chart JS Options -------------
        var datalabels = {
            align: 'top',
            anchor: 'end',
        }

        var defaultOption =  {
            responsive:false,
            plugins: {
                // title: {
                //     display: true,
                //     text: ' ',
                //     padding: {
                //         top: 10,
                //         bottom: 30
                //     }
                // },
                legend: {
                    display : false,
                },
            },
            scales: {
                y: {
                    beginAtZero: true,
                    max:100,
                    ticks:{
                        stepSize:10
                    }
                },
                x: {
                    beginAtZero: true,
                    type: 'category',
                }
            }
        };

        var customOption =  {
            responsive:false,
            plugins: {
                legend: false,
            },
            scales: {
                y: {
                    beginAtZero: true,
                    max:11,
                    ticks:{
                        stepSize:1
                    }
                },
                x: {
                    beginAtZero: true,
                    type: 'category',
                }
            }
        };

        //ChartJS
        var Q1_DATA = {
            labels: [['Extremely','unhappy'], '', '', 'Neutral', '', '',['Extremely','happy']],
            datasets : [
                {
                    label: 'Q1-1',
                    data : q1_1_data,
                    borderColor:['rgba(255, 99, 132)'],
                    backgroundColor:['rgba(255, 99, 132)'],
                    datalabels
                },
                {
                    label: 'Q1-2',
                    data : q1_2_data,
                    borderColor:['rgba(54, 162, 235)'],
                    backgroundColor:['rgba(54, 162, 235)'],
                    datalabels
                },
            ]
        }

        var Q2_DATA = {
            labels: ['Q2-1 ', 'Q2-2', 'Q2-3', 'Q2-4', 'Q2-5', 'Q2-6','Q2-7','Q2-8'],
            datasets : [
                {
                    label: 'Q1-1',
                    data : q2_data,
                    borderColor:['rgba(255, 99, 132)'],
                    backgroundColor:['rgba(255, 99, 132)'],
                    max:11,
                    datalabels
                }
            ]
        }

        var Q3_DATA = {
            labels: ['Q3-1 ', 'Q3-2', 'Q3-3', 'Q3-4', 'Q3-5', 'Q3-6','Q3-7','Q3-8',"Q3-9","Q3-10","Q3-11"],
            datasets : [
                {
                    label: 'Q1-1',
                    data : q3_data,
                    borderColor:['rgba(255, 99, 132)'],
                    backgroundColor:['rgba(255, 99, 132)'],
                    datalabels
                }
            ]
        }


        function drawChart(ctx,data,selectOption){
            var option = {
                type: 'bar',
                data: data,
                plugins:[ChartDataLabels], //차트에 값 표시하기 위한 플러그인
                showTooltips: false,
                options : selectOption
                }
                var myChart = new Chart(ctx,option)
            }

            drawChart(ctx1,Q1_DATA,defaultOption);
            drawChart(ctx2,Q2_DATA,customOption);
            drawChart(ctx3,Q3_DATA,customOption);
        });
</script>

</html>
